# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
/build
.gradle

# other
eclipse
run
src/main/gen

# vscode-extension
/vscode-extension/server
/vscode-extension/node_modules
/vscode-extension/*.vsix
/vscode-extension/language/ZenScript.tmLanguage.json

# mac
.DS_Store
.history
