name: Release

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Setup JDK
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Build server
        run: ./gradlew dist

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'

      - name: Install Node.js dependencies
        run: npm install
        working-directory: ./vscode-extension

      - name: Build VSCode extension
        run: npm run release
        working-directory: ./vscode-extension

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: vscode-extension/*.vsix
